@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Kalvebod Brygge 31-33<br />
    1780 København V<br />
    <abbr title="Phone">Tlf:</abbr>
    12345678 (Mandag - torsdag kl. 9-16 og fredag kl. 9-15)
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a>
</address>
